.root{
    -fx-background-image: url("../images/winter.jpg");
    -fx-background-repeat: repeat;
    -fx-background-position: center center;
}
.menu-bar{
    -fx-border-color: #88b4fc;
    -fx-background-color: #bcd1f2;
}
.text-area {
    -fx-background-color:  rgba(188, 187, 186, 0.8);
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}